@charset "UTF-8";

:root {
    --font1:  Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;

   h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
   }
   p {
        padding-bottom: 50px;
   }

}

a {
   
    text-decoration: none;
    font-weight: bolder;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}

section {

    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 2em;

    p {
        padding-bottom: 2em;
    }
    

}

section.normal {
    background-color: white;
    color: black;
}
section.imagem  {
    background-color: rgb(90, 89, 89);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed;

    p {
        background-color: rgba(0, 0, 0, 0.514);
        display: inline-block;
        padding: 5px;
        text-shadow: 1px 1px 0px black;
    }
}
section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;

}
section#img02 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
    
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}