@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;

   h1 {
    padding-top: 50px;
    font-variant: small-caps;
   }
   p {
        padding-bottom: 50px;
   }

}

a {
   
    text-decoration: none;
    font-weight: bolder;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}

section {

    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}
section.imagem  {
    background-color: rgb(90, 89, 89);
    color: white;

    p {
        background-color: rgba(0, 0, 0, 0.253);
        width: 400px;
    }
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}