@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
   
}

header {
    background-color: var(--cor4);
    h1 {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p {
        color: white;
    }
}

nav {
    background-color: var(--cor5);
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    
    h1 {
        font-family: var(--fonte-android);
    }
    h2 {
        font-family: var(--fonte-android);
    }
   
   
    p {
    margin: 15px 0px;
    text-align: justify;
}
    
}

footer {
    background-color: var(--cor5);
    color: white;
}

