@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: ;
    --fonte-android: 'Android',cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
}

header {
    background-color: var(--cor4);
    h1 {
        color: white;
        font-family: var(--font-padrao);
    }
    p {
        color: white;
    }
}

nav {
    background-color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    h1 {
        color: var(--cor5);
        font-family: var(--fonte-android);
    }
    h2 {
        font-family: var(--fonte-android);
    }
    img {
        width: 100%;
    }
    img.pequena {
        max-width: 350px;
        display: block;
        margin: auto;
    }
}

footer {
    background-color: var(--cor5);
    color: white;
}