@charset "UTF-8";
/* Estilo pra telas */
   
* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightgray;
     
    h1 {
        text-align: center;
    }

    menu {
        ul {
            list-style-type: none;
            background-color: gray;
        }
        li {
            background-color: rgb(75, 75, 75);
            padding: 12px;
            display: inline-block;
            &:hover {
                background-color: darkred ;
            
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

article {
    width: 600px;
    display: block;
    margin: auto  ;
   
     h1  {
        margin: 10px;
    }
}