@charset "UTF-8";
@font-face {
  font-family: "Android"; /* Dê um nome para sua fonte */
  src: url("pacote-projeto-d010/fontes/idroid.otf"); /* Especifique o caminho para o arquivo */
}
body {
    width: 800px;
}
header {
    width: 800px;
    margin: auto;
    padding: 10px;
    margin: 10px;
}
header {
    nav {
       ul {
            li{
             display: inline;
             margin: 0px; 
            }
        } 
    } 
    p {
        text-align: center;
    }
}

main {
    width: 800px;
    margin: auto;
    background-color: #83E0AC; 
    padding: 10px;
    margin: 10px;
}
h1 {
    font-family: Helvetica;
    color: white;
    text-align: center;    text-shadow: 1px 1px 2px rgba(63, 59, 59, 0.664);
}

h2 {
  font-family: "Android", sans-serif; /* Use o nome que você definiu */
  color: #195B37;
}

a{
    color : #076833c2;
}

p {
    text-align: justify;
    text-indent: 30px;
}
#parag{
    text-align: center;
}
strong {
    color: #076833c2;
}
