@charset "UTF-8";

@media screen and (min-width: 768px) {
    input#burguer {
        display: none;
    }
    menu {
        display: block;

        ul {
            li {
                display: inline-block;
            }
        }
    }

}