@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: lightgray;
}

header {
    background-color: gray;

    h1 {
        padding: 10px;
        text-align: center;
    }
    menu {
        display: none;
        ul {
            list-style-type: none;
            li{
                a {
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    padding: 10px;
                    background-color: rgb(87, 87, 87);
                    color: white;
                    border-top: 2px solid gray;
                    &:hover {
                        background-color: rgb(161, 157, 157);
                    }
                }
            }
        }
    }
}

main {
    width: 500px;
    padding: 30px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
        article {
            h2 {
                padding-bottom: 20px;
            }
            p {
                padding-bottom: 20px;
                text-align: justify;
                text-indent: 20px;
            }
    }
}

input#burguer {
    background-color: gray;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    &:hover {
        background-color: white;
        color: black;
    }
    cursor: pointer;
}